In [7]:
 
# while
# do while
# nwsted while
# for loop
# infinite loop
# nested for loop
# for  - - range

# init_part
# while condition:
#     block//scope
    
#     increment//decrement

i=1
while i<=10:
    print(i)
    
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [8]:
i=10
while i>=1:
    print(i)
    
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [9]:


for i in range (1,10+1):
    for j in reversed (range (i,10+1)):

        print (j, end="")

    print ()

10987654321
1098765432
109876543
10987654
1098765
109876
10987
1098
109
10

In [10]:
# fist 10 even no

for i in range (1,10+1):
    if i%2==0:
        print (i)

2
4
6
8
10

In [11]:
# fist 10 odd no

for i in range (1,10+1):
    if i%3==0 or i==1:
        print (i)

1
3
6
9

In [12]:
# table of a number

num = int (input("enter ur no: "))

for i in range (1,11):
    table = num*i
    print (table)

3
6
9
12
15
18
21
24
27
30

In [13]:
# product of the digits of a number

In [14]:
# factorials

num=int(input("Enter any number: "))
f=1
for i in range(1,num+1):
    f=f*i
print("Factorial is",f)

ValueError: invalid literal for int() with base 10: ''

In [ ]:

num=int(input("Enter any number: "))
f=1
for i in range(1,num+1):
    f=f*i
    print (str(i), end="")
    
print(" = ",f)

Enter any number: 5
12345 =  120

In [ ]:
# sum of digits

num=int(input("Enter any number: "))

digit = str(num)
sum = 0

for i in digit:

    sum+= int(i)
print(sum)

Enter any number: 99
18

In [17]:
# check no is prime or not

num=int(input("Enter any number: "))

for i in range (2,num+1):
    if i%num==num:
        print (i)

In [4]:
name1 = "sana"
name2 = "vikalp"

for i in range name1:
    
    print(i)

SyntaxError: invalid syntax (1065090016.py, line 4)